<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nsy.mapper.AssignmentMapper">

    <resultMap id="BaseResultMap" type="com.nsy.model.pojo.Assignment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="courseId" column="course_id" jdbcType="INTEGER"/>
            <result property="courseName" column="course_name" jdbcType="VARCHAR"/>
            <result property="beginDate" column="begin_date" jdbcType="TIMESTAMP"/>
            <result property="endDate" column="end_date" jdbcType="TIMESTAMP"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="score" column="score" jdbcType="DECIMAL"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,course_id,course_name,
        begin_date,end_date,content,
        score,title,state
    </sql>
</mapper>
