<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nsy.mapper.StudentAssignmentMapper">

    <resultMap id="BaseResultMap" type="com.nsy.model.pojo.StudentAssignment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="studentId" column="student_id" jdbcType="INTEGER"/>
            <result property="assignmentId" column="assignment_id" jdbcType="INTEGER"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="studentScore" column="student_score" jdbcType="DECIMAL"/>
            <result property="teacherId" column="teacher_id" jdbcType="INTEGER"/>
            <result property="comment" column="comment" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="courseId" column="course_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,student_id,assignment_id,
        state,student_score,teacher_id,
        comment,content,course_id
    </sql>
</mapper>
